@import "normalize-important.less";
* {
    outline: 0px solid transparent !important;
    -webkit-touch-callout: none;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    background: #fff !important;
    color: #4a4a4a !important;
    padding: 10px !important;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100% !important;
    font-size: 16px !important;

}

h1, h2, h3, h4, h5, h6, p, em, span, strong {
    color: #4a4a4a !important;
}

div,
table,
tr {
    width: 100% !important;
    max-width: 100% !important;
}

a {
    color: #9C5228 !important;
    text-decoration: underline !important;
}

#top-title {
    padding: 1rem 0 !important;
    color: #c7c7c7 !important;
    border-bottom: #c7c7c7 1px solid !important;
    margin-bottom: .75rem !important;
}

#zss_editor_content {
    width: 100% !important;
    height: 100% !important;
    -webkit-overflow-scrolling: touch;
    overflow: auto !important;
}

span.eleye-hilite {
    background-color: #e1ccc0 !important;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

@import "github.less";


/*ZSSEditor origin style*/
/** {outline: 0px solid transparent; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none;}
html, body {padding:0; margin:0; font-family:Arial, Helvetica, sans-serif;}
body {padding:10px; overflow-y: scroll; -webkit-overflow-scrolling: touch; height:100%;}
img.zs_active {border: 2px dashed #000;}
audio {padding: 20px 0;}*/
